<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feiyang.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.feiyang.entity.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    <result column="is_ban" jdbcType="INTEGER" property="isBan" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="vip_id" jdbcType="BIGINT" property="vipId" />
    <result column="init" jdbcType="INTEGER" property="init" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="rest_repair_chance" jdbcType="INTEGER" property="restRepairChance" />
    <result column="is_staff" jdbcType="INTEGER" property="isStaff" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, username, qq_number, phone_number, is_vip, is_ban, session_id, code, email, 
    vip_id, init, create_time, avatar_url, rest_repair_chance, is_staff
  </sql>
  <select id="selectByExample" parameterType="com.example.feiyang.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.feiyang.entity.UserExample">
    delete from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.feiyang.entity.User">
    insert into fy_user (user_id, username, qq_number, 
      phone_number, is_vip, is_ban, 
      session_id, code, email, 
      vip_id, init, create_time, 
      avatar_url, rest_repair_chance, is_staff
      )
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{qqNumber,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=CHAR}, #{isVip,jdbcType=INTEGER}, #{isBan,jdbcType=INTEGER}, 
      #{sessionId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{vipId,jdbcType=BIGINT}, #{init,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{avatarUrl,jdbcType=VARCHAR}, #{restRepairChance,jdbcType=INTEGER}, #{isStaff,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.feiyang.entity.User">
    insert into fy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="qqNumber != null">
        qq_number,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="isBan != null">
        is_ban,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="init != null">
        init,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="restRepairChance != null">
        rest_repair_chance,
      </if>
      <if test="isStaff != null">
        is_staff,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isBan != null">
        #{isBan,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=BIGINT},
      </if>
      <if test="init != null">
        #{init,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="restRepairChance != null">
        #{restRepairChance,jdbcType=INTEGER},
      </if>
      <if test="isStaff != null">
        #{isStaff,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.feiyang.entity.UserExample" resultType="java.lang.Integer">
    select count(*) from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fy_user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.qqNumber != null">
        qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=CHAR},
      </if>
      <if test="record.isVip != null">
        is_vip = #{record.isVip,jdbcType=INTEGER},
      </if>
      <if test="record.isBan != null">
        is_ban = #{record.isBan,jdbcType=INTEGER},
      </if>
      <if test="record.sessionId != null">
        session_id = #{record.sessionId,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.vipId != null">
        vip_id = #{record.vipId,jdbcType=BIGINT},
      </if>
      <if test="record.init != null">
        init = #{record.init,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.avatarUrl != null">
        avatar_url = #{record.avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.restRepairChance != null">
        rest_repair_chance = #{record.restRepairChance,jdbcType=INTEGER},
      </if>
      <if test="record.isStaff != null">
        is_staff = #{record.isStaff,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fy_user
    set user_id = #{record.userId,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=CHAR},
      is_vip = #{record.isVip,jdbcType=INTEGER},
      is_ban = #{record.isBan,jdbcType=INTEGER},
      session_id = #{record.sessionId,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      vip_id = #{record.vipId,jdbcType=BIGINT},
      init = #{record.init,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      avatar_url = #{record.avatarUrl,jdbcType=VARCHAR},
      rest_repair_chance = #{record.restRepairChance,jdbcType=INTEGER},
      is_staff = #{record.isStaff,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.feiyang.entity.User">
    update fy_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isBan != null">
        is_ban = #{isBan,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=BIGINT},
      </if>
      <if test="init != null">
        init = #{init,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="restRepairChance != null">
        rest_repair_chance = #{restRepairChance,jdbcType=INTEGER},
      </if>
      <if test="isStaff != null">
        is_staff = #{isStaff,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.feiyang.entity.User">
    update fy_user
    set username = #{username,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=CHAR},
      is_vip = #{isVip,jdbcType=INTEGER},
      is_ban = #{isBan,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      vip_id = #{vipId,jdbcType=BIGINT},
      init = #{init,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      rest_repair_chance = #{restRepairChance,jdbcType=INTEGER},
      is_staff = #{isStaff,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.example.feiyang.entity.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    <result column="is_ban" jdbcType="INTEGER" property="isBan" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="vip_id" jdbcType="BIGINT" property="vipId" />
    <result column="init" jdbcType="INTEGER" property="init" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="rest_repair_chance" jdbcType="INTEGER" property="restRepairChance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, username, qq_number, phone_number, is_vip, is_ban, session_id, code, email, 
    vip_id, init, create_time, avatar_url, rest_repair_chance
  </sql>
  <select id="selectByExample" parameterType="com.example.feiyang.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.feiyang.entity.UserExample">
    delete from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.feiyang.entity.User">
    insert into fy_user (user_id, username, qq_number, 
      phone_number, is_vip, is_ban, 
      session_id, code, email, 
      vip_id, init, create_time, 
      avatar_url, rest_repair_chance)
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{qqNumber,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=CHAR}, #{isVip,jdbcType=INTEGER}, #{isBan,jdbcType=INTEGER}, 
      #{sessionId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{vipId,jdbcType=BIGINT}, #{init,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{avatarUrl,jdbcType=VARCHAR}, #{restRepairChance,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.feiyang.entity.User">
    insert into fy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="qqNumber != null">
        qq_number,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="isBan != null">
        is_ban,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="init != null">
        init,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="restRepairChance != null">
        rest_repair_chance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isBan != null">
        #{isBan,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=BIGINT},
      </if>
      <if test="init != null">
        #{init,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="restRepairChance != null">
        #{restRepairChance,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.feiyang.entity.UserExample" resultType="java.lang.Integer">
    select count(*) from fy_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fy_user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.qqNumber != null">
        qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=CHAR},
      </if>
      <if test="record.isVip != null">
        is_vip = #{record.isVip,jdbcType=INTEGER},
      </if>
      <if test="record.isBan != null">
        is_ban = #{record.isBan,jdbcType=INTEGER},
      </if>
      <if test="record.sessionId != null">
        session_id = #{record.sessionId,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.vipId != null">
        vip_id = #{record.vipId,jdbcType=BIGINT},
      </if>
      <if test="record.init != null">
        init = #{record.init,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.avatarUrl != null">
        avatar_url = #{record.avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.restRepairChance != null">
        rest_repair_chance = #{record.restRepairChance,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fy_user
    set user_id = #{record.userId,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=CHAR},
      is_vip = #{record.isVip,jdbcType=INTEGER},
      is_ban = #{record.isBan,jdbcType=INTEGER},
      session_id = #{record.sessionId,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      vip_id = #{record.vipId,jdbcType=BIGINT},
      init = #{record.init,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      avatar_url = #{record.avatarUrl,jdbcType=VARCHAR},
      rest_repair_chance = #{record.restRepairChance,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.feiyang.entity.User">
    update fy_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=INTEGER},
      </if>
      <if test="isBan != null">
        is_ban = #{isBan,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=BIGINT},
      </if>
      <if test="init != null">
        init = #{init,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="restRepairChance != null">
        rest_repair_chance = #{restRepairChance,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.feiyang.entity.User">
    update fy_user
    set username = #{username,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=CHAR},
      is_vip = #{isVip,jdbcType=INTEGER},
      is_ban = #{isBan,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      vip_id = #{vipId,jdbcType=BIGINT},
      init = #{init,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      rest_repair_chance = #{restRepairChance,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>