<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.feiyang.dao.EvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.example.feiyang.entity.Evaluation" >
    <id column="evaluation_id" property="evaluationId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="evaluation_content" property="evaluationContent" jdbcType="VARCHAR" />
    <result column="evaluation_score" property="evaluationScore" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    evaluation_id, order_id, user_id, create_time, evaluation_content, evaluation_score
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.feiyang.entity.EvaluationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fy_evaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fy_evaluation
    where evaluation_id = #{evaluationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fy_evaluation
    where evaluation_id = #{evaluationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.feiyang.entity.EvaluationExample" >
    delete from fy_evaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.feiyang.entity.Evaluation" >
    insert into fy_evaluation (evaluation_id, order_id, user_id, 
      create_time, evaluation_content, evaluation_score
      )
    values (#{evaluationId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{evaluationContent,jdbcType=VARCHAR}, #{evaluationScore,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.feiyang.entity.Evaluation" >
    insert into fy_evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluationId != null" >
        evaluation_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="evaluationContent != null" >
        evaluation_content,
      </if>
      <if test="evaluationScore != null" >
        evaluation_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluationId != null" >
        #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationContent != null" >
        #{evaluationContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluationScore != null" >
        #{evaluationScore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.feiyang.entity.EvaluationExample" resultType="java.lang.Integer" >
    select count(*) from fy_evaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fy_evaluation
    <set >
      <if test="record.evaluationId != null" >
        evaluation_id = #{record.evaluationId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evaluationContent != null" >
        evaluation_content = #{record.evaluationContent,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationScore != null" >
        evaluation_score = #{record.evaluationScore,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fy_evaluation
    set evaluation_id = #{record.evaluationId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      evaluation_content = #{record.evaluationContent,jdbcType=VARCHAR},
      evaluation_score = #{record.evaluationScore,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.feiyang.entity.Evaluation" >
    update fy_evaluation
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationContent != null" >
        evaluation_content = #{evaluationContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluationScore != null" >
        evaluation_score = #{evaluationScore,jdbcType=INTEGER},
      </if>
    </set>
    where evaluation_id = #{evaluationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.feiyang.entity.Evaluation" >
    update fy_evaluation
    set order_id = #{orderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      evaluation_content = #{evaluationContent,jdbcType=VARCHAR},
      evaluation_score = #{evaluationScore,jdbcType=INTEGER}
    where evaluation_id = #{evaluationId,jdbcType=INTEGER}
  </update>
</mapper>